.home-contents-glList-item
	.home-contents-glList-item-thumbnail
		img(src=`${glList[i].fileName}/assets/${glList[i].fileName}.png`, alt="", srcset="")
	h3.home-contents-glList-item-title #{glList[i].title}