.canvas-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	
	#canvas{
		width: 100%;
		height: 100%;
	}

}

.container {
	width: 100%;
	z-index: 1;
}

.inner {
	width: 95%;
	max-width: 1800px;
	margin: 0 auto;
	padding: 10px 0;
}