@use  '../global/' as *;

.home {
	&-glList {
		height: 100%;
		display: flex;
		overflow-x: scroll;
		&-item {
			position: relative;
			width: 90%;
			margin: 0 auto;
			margin-bottom: 50px;

			&-title {
			}

			&-thumbnail {
			}
		}
	}
}